<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Library ANY>
<!ATTLIST Library id ID #REQUIRED>
<!ELEMENT Pages ANY>
<!ATTLIST Pages id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1054" key="259ffdc2-daa7-43c7-aec0-0b46a223f3ac" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-01T12:54:33" updateDate="2016-02-01T12:54:33" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="1048" nodeTypeAlias="Home">
    <title><![CDATA[home]]></title>
  </Home>
  <Library id="1055" key="f7f04e73-34e3-4646-8fac-bd02992e4a56" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-02-01T12:54:45" updateDate="2016-02-01T12:54:45" nodeName="Library" urlName="library" path="-1,1055" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Library" />
</root>